<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Vue ToDo List</title>
</head>

<body>

    <i class="fa-regular fa-square-check"></i>


    <div id="app">

        <div class="container">

            <div class="title">
                <h1>TODO LIST</h1>
            </div>

            <div class="task-todo-container">

                <ul>
                    <li class="li-item" v-for="(item, index) in toDoList" v-if="item.done === false"
                        :class="lineDone(item)">
                        <i @click="taskDone(item)" class="fa-solid fa-square-xmark"></i> {{ item.text }}
                    </li>
                </ul>

                <input type="text" placeholder="Add a new Thing To Do!" v-model="newTask">
                <button @click="addNewTask" type="submit">Add!</button>

            </div>

            <div class="task-complete-container">



            </div>

        </div>

    </div>

    <script src="js/script.js"></script>
</body>

</html>